@use "../utilities" as *;

/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/
.header-area {
	&.header-6 {
		&.header-absolute {
			top: 30px;
			padding: 0 30px;
			@media #{$xxl, $xl, $lg, $md, $sm, $xs} {
				top: 15px;
				padding: 0 15px;
			}
			.header-bottom {
				border-bottom: 1px solid var(--tj-color-border-1);
				@media #{$md, $sm, $xs} {
					padding: 0;
				}
			}
			.site_logo {
				padding: 20px 0;
				@media #{$md, $sm, $xs} {
					padding: 15px 0;
				}
			}
			.mainmenu {
				> ul {
					column-gap: 0;
					> li {
						> a {
							padding: 9px;
							padding-inline-start: 16px;
							padding-inline-end: 31px;
							background-color: var(--tj-color-theme-dark);
							border-radius: 21px;
							border: 1px solid var(--tj-color-border-1);
							&:hover {
								border-color: var(--tj-color-theme-primary);
							}
							@media #{$lg} {
								padding: 6px;
								padding-inline-start: 11px;
								padding-inline-end: 26px;
							}
						}
						&.current-menu-ancestor {
							> a {
								border-color: var(--tj-color-theme-primary);
							}
						}
						&.menu-item-has-children,
						&.has-dropdown {
							> a {
								&::after {
									top: 40%;
									right: 13px;
								}
								@media #{$lg} {
									&::after {
										top: 36%;
										right: 10px;
									}
								}
							}
						}
						.sub-menu {
							> li {
								> a {
									padding-top: 10px;
									padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* !END: Theme Header CSS */
