@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/

.tj-footer-section.footer-7 {
	@media #{$sm,$xs} {
		padding-top: 73px;
	}
	&::before {
		max-width: 396px;
		height: 396px;
		filter: blur(150px);
		opacity: 1;
	}
	.footer {
		&-cta {
			&-content {
				max-width: 100%;
				display: flex;
				justify-content: space-between;
				gap: 30px;
				text-align: start;
				.title {
					width: 555px;
					max-width: 100%;
					font-size: 57px;
					letter-spacing: -0.03em;
					line-height: 1.027;
					margin-bottom: 0;
					transition: none;
					span {
						color: var(--tj-color-theme-primary);
					}
				}
				@media #{$lg,$md} {
					.title {
						font-size: 48px;
					}
				}
				@media #{$md,$sm,$xs} {
					flex-direction: column;
					align-items: center;
				}
				@media #{$sm,$xs} {
					.title {
						font-size: 33px;
					}
				}
			}
			.subscribe_form {
				width: 532px;
				margin-top: 10px;
				@media #{$md,$sm,$xs} {
					width: 555px;
					max-width: 100%;
				}
				form {
					position: relative;
					z-index: 1;

					input[type="email"] {
						min-height: 72px;
						padding: 22px 70px 22px 20px;
					}

					button[type="submit"],
					input[type="submit"] {
						position: absolute;
						right: 5px;
						top: 5px;
						width: 62px;
						height: calc(100% - 10px);
						background-color: var(--tj-color-theme-primary);
						border-radius: 8px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						font-size: 24px;
						line-height: 1;
						color: var(--tj-color-theme-dark);
						transition: all 0.3s ease-in-out 0s;

						i,
						svg {
							display: inline-flex;
							line-height: 1;
						}
						svg {
							max-width: 24px;
							height: auto;
						}

						&:hover {
							i,
							svg {
								animation: bellShake 1s linear infinite;
							}
						}
					}
				}
				input[type="checkbox"] {
					position: relative;
					margin-inline-end: 8px;
					width: 18px;
					height: 18px;
					border: 1px solid var(--tj-color-theme-dark-3);
					border-radius: 3px;
					appearance: none;
					cursor: pointer;

					&::before {
						content: "\e941";
						font-size: 19px;
						line-height: 1;
						font-family: "tekmino-icon" !important;
						color: var(--tj-color-common-white);
						position: absolute;
						width: 100%;
						text-align: center;
						line-height: 16px;
						transform: scale(0.5);
						margin-inline-start: -1px;
						opacity: 0;
						transition: all 0.3s ease-in-out;
					}
					&:checked {
						background-color: var(--tj-color-theme-primary);
						border-color: var(--tj-color-theme-primary);
						&::before {
							color: var(--tj-color-theme-dark);
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				label {
					font-size: 16px;
					color: var(--tj-color-text-body);
					margin-top: 18px;
					display: inline-flex;
					align-items: center;
					a {
						color: var(--tj-color-text-body);
						font-weight: var(--tj-fw-sbold);
						margin-inline-start: 4px;
						&:hover {
							color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
		&_widget_wrapper {
			padding: 100px 40px 88px;
			@media #{$lg, $md} {
				padding: 80px 20px;
			}
			@media #{$sm, $xs} {
				padding: 70px 15px;
			}
		}
		&-widget .title {
			display: flex;
			align-items: center;
			gap: 10px;
			&::before {
				content: "";
				width: 8px;
				height: 8px;
				background-color: var(--tj-color-theme-primary);
				border-radius: 100%;
			}
		}
	}
}
/* !END: Theme Footer CSS */
