@use "../utilities" as *;

/**----------------------------------------
START: Services CSS
----------------------------------------*/
.service-item-3 {
	&.service-item {
		padding-bottom: 0;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		.service-inner {
			padding: 52px 30px;
			border-radius: 10px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 25px;
			position: relative;
			z-index: 3;
			overflow: hidden;
			min-height: 183px;
			@include transition(all 0.3s ease-in-out 0s);
			@media #{$lg, $xs} {
				padding: 30px 20px;
			}
			@media #{$sm, $xs} {
				gap: 20px;
			}
		}
		.item-count {
			position: static;
			width: auto;
			height: auto;
			font-size: 18px;
			line-height: 1;
			color: var(--tj-color-text-body-2);
			background-color: transparent;
			border-radius: 0;
			border: 0;
			&::before,
			&::after {
				display: none;
			}
		}
		.service-content {
			max-width: 235px;
			width: 100%;
			display: flex;
			align-items: start;
			gap: 15px;
			@media #{$md} {
				max-width: 200px;
			}
			@media #{$sm,$xs} {
				max-width: 100%;
			}
		}
		.title {
			margin-top: -7px;
			margin-bottom: 0;
			@media #{$sm,$xs} {
				margin-top: -5px;
			}
		}
		.desc {
			max-width: 380px;
			width: 100%;
			margin-bottom: 0;
			@media #{$md} {
				max-width: 360px;
			}
			@media #{$xs} {
				max-width: 100%;
			}
		}
		.tj-icon-btn {
			background-color: var(--tj-color-theme-dark);
		}
		.service-img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease-in-out 0s);
			border-radius: 10px;
			pointer-events: none;
			transform: scale(1.1);
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: var(--tj-color-theme-dark);
				opacity: 0.6;
			}
			&::after {
				content: "";
				position: absolute;
				width: 500px;
				height: 300px;
				bottom: -50%;
				left: 50%;
				border-radius: 50%;
				transform: translateX(-50%);
				background: var(--tj-color-theme-primary);
				-webkit-filter: blur(75px);
				filter: blur(75px);
				opacity: 0.25;
				@media #{$lg,$md} {
					width: 400px;
					height: 250px;
				}
				@media #{$sm,$xs} {
					width: 250px;
					height: 200px;
				}
			}
		}
		&.active {
			.service-inner {
				border-color: var(--tj-color-theme-primary);
				min-height: 366px;
				@media #{$lg,$md} {
					min-height: 300px;
				}
				@media #{$sm,$xs} {
					min-height: 250px;
				}
			}
			.service-img {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
			.item-count {
				color: var(--tj-color-theme-primary);
			}
			.tj-icon-btn {
				background-color: var(--tj-color-theme-primary);
				border-color: var(--tj-color-theme-primary);
				i {
					color: var(--tj-color-theme-dark);
				}
			}
		}
	}
}

/* !END: Services CSS */
