@use "../utilities" as *;

/**----------------------------------------
START: Countup CSS
----------------------------------------*/
.countup-item {
	&.h4-countup {
		background-color: var(--tj-color-theme-bg);
		border: 1px solid var(--tj-color-border-1);
		border-radius: 10px;
		padding: 30px 28px;
		@include transition(all 0.3s ease-in-out);
		.subtitle {
			font-size: 16px;
			line-height: 1;
			font-weight: var(--tj-fw-sbold);
			color: var(--tj-color-theme-primary);
			display: inline-flex;
			background-color: var(--tj-color-theme-dark);
			border: 1px solid var(--tj-color-border-1);
			border-radius: 30px;
			position: relative;
			padding: 4px 10px 4px 20px;
			margin-bottom: 70px;
			&::before {
				content: "";
				width: 4px;
				height: 4px;
				background-color: var(--tj-color-theme-primary);
				border-radius: 100%;
				position: absolute;
				left: 10px;
				top: 10px;
			}
		}
		.inline-content {
			align-items: flex-end;
			.count-plus {
				font-size: 48px;
			}
		}
		.count-text {
			font-size: 16px;
			font-weight: var(--tj-fw-regular);
		}
		&:hover {
			border-color: var(--tj-color-theme-primary);
		}
	}
}

/* !END: Countup CSS */
