@use "../utilities" as *;

/**----------------------------------------
START: Hero CSS
----------------------------------------*/
.tj-banner-section-3 {
	min-height: 1000px;
	padding-top: 173px;
	border-radius: 16px;
	background-color: var(--tj-color-theme-bg);
	@media #{$xxl,$xl,$lg} {
		min-height: 728px;
	}
	@media #{$lg} {
		min-height: 628px;
		padding-top: 150px;
	}
	@media #{$md,$sm,$xs} {
		min-height: 700px;
		padding-top: 120px;
		border-radius: 12px;
	}
	@media #{$xs} {
		min-height: 550px;
	}
	.hero-bg {
		opacity: 1;
		border-radius: 16px;
		background-position: center top;
		mix-blend-mode: normal;
	}

	.banner-content {
		max-width: 900px;
		margin: 0 auto;
		align-items: center;
		text-align: center;
		padding-top: 0;
		position: relative;
		z-index: 2;
		.sub-title {
			color: var(--tj-color-heading-primary);
			text-transform: capitalize;
			letter-spacing: 0;
			background-color: rgba(250, 251, 251, 0.08);
			backdrop-filter: blur(20px);
			padding: 5px 10px;
			border-radius: 40px;
			i {
				font-size: 18px;
				color: var(--tj-color-theme-primary);
			}
		}
		.banner-title {
			@media #{$xs} {
				font-size: 36px;
				line-height: 1.167;
			}
		}
		.banner-desc {
			max-width: 595px;
			width: 100%;
			font-size: 18px;
			margin-top: 18px;
			@media #{$xs} {
				font-size: 16px;
			}
		}
		.btn-area {
			gap: 15px;
		}
		.list-area {
			margin-top: 33px;
			margin-bottom: 0;
			.list-style-1 {
				gap: 30px;
				li {
					color: var(--tj-color-common-white);
					span {
						color: var(--tj-color-theme-primary);
						background: var(--tj-color-theme-dark);
						border: 1px solid var(--tj-color-border-1);
					}
				}
				@media #{$md,$sm,$xs} {
					gap: 20px;
				}
			}
		}
		@media #{$lg,$md} {
			max-width: 650px;
		}
	}
	.banner-img {
		max-width: 1320px;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		margin-top: 80px;
		@media #{$md,$sm,$xs} {
			margin-top: 60px;
			border-radius: 12px;
		}
	}
}
.video-btn-2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: var(--tj-color-heading-primary);
	background-color: var(--tj-color-theme-dark);
	font-size: 16px;
	font-weight: var(--tj-fw-sbold);
	padding: 17px 30px;
	text-align: center;
	border-radius: 50px;
	line-height: 1;
	position: relative;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid var(--tj-color-border-1);
	.btn {
		&-icon {
			color: var(--tj-color-heading-primary);
			font-size: 12px;
			line-height: 1;
		}
		&-text {
			color: var(--tj-color-heading-primary);
			line-height: 1.25;
			overflow: hidden;
			span {
				display: flex;
				line-height: 1.25;
				text-shadow: 0 30px 0;
				backface-visibility: hidden;
				transform: translateY(0);
				transition: 0.4s ease-in-out;
			}
			@media #{$xs} {
				display: none;
			}
		}
	}
	&:hover {
		.btn-text span {
			transform: translateY(-30px);
		}
	}

	@media #{$xs} {
		padding: 20px;
	}
}

/* !END: Hero CSS */
