@use "../utilities" as *;

/**----------------------------------------
START: Hero CSS
----------------------------------------*/
.h6-hero {
	min-height: 1000px;
	padding-top: 187px;
	padding-bottom: 0;
	border-radius: 16px;
	background-color: var(--tj-color-theme-bg);
	z-index: 0;

	.hero-bg {
		opacity: 1;
		border-radius: 16px;
		background-position: center bottom;
		mix-blend-mode: normal;
	}

	.banner {
		&-content {
			max-width: 1000px;
			margin: 0 auto;
			align-items: center;
			text-align: center;
			padding-top: 0;
			position: relative;
			z-index: 2;
			.sub-title {
				color: var(--tj-color-heading-primary);
				text-transform: capitalize;
				letter-spacing: 0;
				background-color: rgba(250, 251, 251, 0.08);
				backdrop-filter: blur(20px);
				padding: 5px 10px;
				border-radius: 40px;
				i {
					font-size: 18px;
					color: var(--tj-color-theme-primary);
				}
			}

			.btn-area {
				gap: 15px;
			}
			.list-area {
				margin-top: 33px;
				margin-bottom: 0;
				.list-style-1 {
					gap: 30px;
					li {
						color: var(--tj-color-common-white);
						span {
							color: var(--tj-color-theme-primary);
							background: var(--tj-color-theme-dark);
							border: 1px solid var(--tj-color-border-1);
						}
					}
					@media #{$md,$sm,$xs} {
						gap: 20px;
					}
				}
			}
		}
		&-title {
			font-size: 78px;
			line-height: 1.179;

			span {
				& > span {
					display: inline-flex;
					align-items: center;
					transform: translateY(2px);
					transition: none;
					& > span:has(img) {
						display: inline-flex;
						align-items: center;

						img {
							width: 65px;
							height: 65px;
							background-color: var(--tj-color-border-1);
							padding: 2px;
							border-radius: 50%;
							line-height: 1;
							margin-inline-start: -22px;
							&:first-child {
								margin-inline-start: 0;
							}
						}
					}
				}
			}
		}
		&-desc {
			max-width: 595px;
			width: 100%;
			font-size: 18px;
			margin-top: 18px;
			@media #{$xs} {
				font-size: 16px;
			}
		}
	}
	.hero {
		&-orbit {
			position: absolute;
			inset-inline-start: 50%;
			top: 85px;
			transform: translateX(-50%);
			max-width: 1410px;
			width: 100%;
			z-index: -1;
			&-icon {
				&-wrapper {
					height: 354px;
					position: absolute;
					inset-inline-start: -20px;
					inset-inline-end: -24px;
					top: 150px;
					z-index: 0;
				}
				position: absolute;
				background-color: var(--tj-color-border-1);
				border-radius: 100%;
				animation: zoomEffect2 1.5s infinite linear;
				z-index: 0;
				&:nth-child(1) {
					top: 44px;
					inset-inline-start: 0;
				}
				&:nth-child(2) {
					bottom: 0;
					inset-inline-start: 20%;
				}
				&:nth-child(3) {
					bottom: 60px;
					inset-inline-end: 17%;
				}
				&:nth-child(4) {
					top: 0;
					inset-inline-end: 0;
				}
			}
			@media #{$md,$sm,$xs} {
				display: none;
			}
		}
		&-chart {
			&-wrapper {
				max-width: 1362px;
				padding-inline-start: 15px;
				padding-inline-end: 15px;
				margin-inline-start: auto;
				margin-inline-end: auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
				mask-image: linear-gradient(
					180deg,
					#d9d9d9 50%,
					rgba(115, 115, 115, 0) 112.77%
				);
				gap: 30px;
				margin-top: 120px;

				@media #{$lg} {
					margin-top: 100px;
				}
				@media #{$md, $sm, $xs} {
					margin-top: 70px;
					mask-image: linear-gradient(
						180deg,
						#d9d9d9 55%,
						rgba(115, 115, 115, 0) 127.77%
					);
				}
			}
		}
	}

	@media #{$xxl} {
		.hero {
			&-orbit {
				max-width: 1265px;
				&-icon {
					&:nth-child(2) {
						inset-inline-start: 24%;
					}
					&:nth-child(3) {
						inset-inline-end: 19%;
					}
				}
			}
			&-chart {
				&-wrapper {
					max-width: 1235px;
				}
			}
		}
	}

	@media #{$xl} {
		.hero {
			&-orbit {
				max-width: 1064px;
				&-icon {
					&-wrapper {
						height: 446px;
						inset-inline-start: -25px;
						inset-inline-end: -27px;
						top: 48px;
					}
					&:nth-child(2) {
						inset-inline-start: 34%;
					}
					&:nth-child(3) {
						inset-inline-end: 25%;
					}
				}
			}
			&-chart {
				&-wrapper {
					max-width: 1100px;
				}
			}
		}
	}
	@media #{$lg} {
		.banner {
			&-title {
				font-size: 58px;
				span {
					& > span {
						& > span:has(img) {
							img {
								margin-inline-start: -19px;
								width: 53px;
								height: 53px;
							}
						}
					}
				}
			}
		}
		.hero {
			&-orbit {
				max-width: 870px;
				&-icon {
					&-wrapper {
						height: 400px;
						inset-inline-start: -25px;
						inset-inline-end: -27px;
						top: 48px;
					}
					&:nth-child(2) {
						inset-inline-start: 19%;
					}
					&:nth-child(3) {
						inset-inline-end: 12%;
					}
				}
			}
			&-chart {
				&-wrapper {
					gap: 15px;
				}
			}
		}
	}
	@media #{$md} {
		min-height: 870px;
		padding-top: 158px;
		.banner {
			&-title {
				font-size: 48px;
				span {
					& > span {
						& > span:has(img) {
							img {
								margin-inline-start: -15px;
								width: 45px;
								height: 45px;
							}
						}
					}
				}
			}
		}
		.hero {
			&-orbit {
				max-width: 657px;
				&-icon {
					&-wrapper {
						height: 348px;
						inset-inline-start: -25px;
						inset-inline-end: -27px;
						top: 10px;
					}
					&:nth-child(2) {
						inset-inline-start: 12%;
						bottom: 16%;
					}
					&:nth-child(3) {
						inset-inline-end: 12%;
					}
				}
			}
			&-chart {
				&-wrapper {
					gap: 15px;
				}
			}
		}
	}
	@media #{$sm} {
		min-height: 870px;
		padding-top: 158px;
		.banner {
			&-title {
				font-size: 45px;
				span {
					& > span {
						& > span:has(img) {
							img {
								margin-inline-start: -10px;
								width: 45px;
								height: 45px;
							}
						}
					}
				}
			}
		}
		.hero {
			&-orbit {
				max-width: 657px;
				&-icon {
					&-wrapper {
						height: 284px;
						inset-inline-start: 0;
						inset-inline-end: 0;
						top: 10px;
					}
					width: 40px;
					&:nth-child(1) {
						top: 9px;
						inset-inline-start: 7%;
					}
					&:nth-child(2) {
						inset-inline-start: 5%;
						bottom: 0;
					}
					&:nth-child(3) {
						inset-inline-end: 6%;
						bottom: 0;
					}
					&:nth-child(4) {
						inset-inline-end: 7%;
					}
				}
			}
			&-chart {
				&-wrapper {
					flex-wrap: wrap;
					gap: 15px;
				}
				&-img {
					width: 100%;
					img {
						width: 100%;
					}
					&:nth-child(2) {
						order: 3;
					}
					&:nth-child(3) {
						order: 2;
					}
				}
			}
		}
	}
	@media #{$xs} {
		min-height: 870px;
		padding-top: 158px;
		.banner {
			&-title {
				font-size: 36px;
				span {
					& > span {
						& > span:has(img) {
							img {
								margin-inline-start: -10px;
								width: 38px;
								height: 38px;
							}
						}
					}
				}
			}
		}
		.hero {
			&-orbit {
				max-width: 657px;
				&-icon {
					&-wrapper {
						height: 410px;
						inset-inline-start: 0;
						inset-inline-end: 0;
						top: 10px;
					}
					width: 40px;
					&:nth-child(1) {
						top: 9px;
						inset-inline-start: 5%;
					}
					&:nth-child(2) {
						inset-inline-start: 5%;
						bottom: 0;
					}
					&:nth-child(3) {
						inset-inline-end: 6%;
						bottom: 0;
					}
					&:nth-child(4) {
						inset-inline-end: 6%;
					}
				}
			}
			&-chart {
				&-wrapper {
					flex-wrap: wrap;
					gap: 15px;
				}
				&-img {
					width: 100%;
					img {
						width: 100%;
					}
					&:nth-child(2) {
						order: 3;
					}
					&:nth-child(3) {
						order: 2;
					}
				}
			}
		}
	}
}

/* !END: Hero CSS */
