@use "../utilities" as *;

/**----------------------------------------
START: Technologies CSS
----------------------------------------*/
.h6-technologies {
	&-section {
		background-color: var(--tj-color-theme-bg);
		min-height: 756px;
		border-radius: 14px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		.sec-heading-centered {
			max-width: 555px;
			margin-bottom: 60px;
			position: relative;
			z-index: 1;
		}
		.desc {
			font-size: 18px;
			max-width: 480px;
			margin: 14px auto 0;
			margin-bottom: 24px;
		}
		@media #{$xl} {
			min-height: 718px;
		}
		@media #{$lg} {
			min-height: 664px;
		}
		@media #{$md} {
			min-height: 580px;
			.sec-heading-centered {
				max-width: 440px;
			}
		}
		@media #{$sm,$xs} {
			min-height: auto;
			padding-bottom: 0;
			.desc {
				font-size: 16px;
			}
		}
	}
}
.technologies {
	&-rotator {
		&-wrapper {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(211, 237, 49, 0.12) -21.23%,
				rgba(5, 5, 5, 0.12) 100%
			);

			mask-image: linear-gradient(
				0deg,
				#d9d9d9 19%,
				rgba(115, 115, 115, 0) 91.61%
			);
			z-index: -1;
			@media #{$sm,$xs} {
				margin-inline-start: -50px;
				margin-inline-end: -50px;
				width: auto;
				position: static;
				margin-top: -42%;
				padding-bottom: 80px;
				mask-image: linear-gradient(
					0deg,
					#d9d9d9 47%,
					rgba(115, 115, 115, 0) 101.61%
				);
			}
		}
		transform: translateY(-54%);
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		background: linear-gradient(
			0deg,
			rgba(211, 237, 49, 0.25) 0%,
			rgba(5, 5, 5, 0.25) 50%
		);
		box-shadow: inset 0 0 58px var(--tj-color-border-2);
		border-radius: 50%;
		@media #{$xl} {
			transform: translateY(-45%);
			margin-inline-start: 40px;
			margin-inline-end: 40px;
		}
		@media #{$lg} {
			transform: translateY(-38%);
			margin-inline-start: 40px;
			margin-inline-end: 40px;
		}
		@media #{$md} {
			transform: translateY(-23%);
			margin-inline-start: 40px;
			margin-inline-end: 40px;
		}
		@media #{$sm,$xs} {
			transform: translateY(0);
			margin-top: -54%;
		}
	}

	&-circle {
		position: relative;
		z-index: -1;
		width: 100%;
		height: 100%;
		border: 3px solid var(--tj-color-border-2);
		border-radius: 50%;
		transform: rotate(0deg);
		transition: transform 0.7s linear;
		animation: tj-rotate 50s infinite linear;

		.tech-icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 84px;
			height: 84px;
			max-width: inherit;
			transform-origin: center center;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
				animation: tj-rotate-reverse 50s infinite linear;
			}

			@media #{$md} {
				width: 64px;
				height: 64px;
			}
			@media #{$sm,$xs} {
				width: 44px;
				height: 44px;
			}
		}

		&:hover {
			animation-play-state: paused;
			img {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes tj-rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
@keyframes tj-rotate-reverse {
	from {
		-webkit-transform: rotate(359deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

/* !END: Technologies CSS */
