@use "../utilities" as *;

/**----------------------------------------
START: Project CSS
----------------------------------------*/
.project-wrapper-3 {
	display: flex;
	gap: 30px;
	@media #{$md,$sm,$xs} {
		gap: 20px 15px;
	}
	@media #{$sm,$xs} {
		flex-wrap: wrap;
	}
	.project {
		&-item {
			width: 380px;
			height: 600px;
			transition: all 0.4s;
			overflow: hidden;
			@media #{$md} {
				width: 280px;
				height: 500px;
			}
			@media #{$sm,$xs} {
				width: 100%;
				height: 450px;
			}
			.project {
				&-img {
					img {
						transform: none !important;
					}
					&:hover {
						img {
							transform: none;
						}
					}
					&::before {
						display: none;
					}
				}
				&-content {
					max-width: 490px;
					margin: 0;
					inset-inline-start: 30px;
					bottom: -100px;
					opacity: 0;
					transition-delay: 0.2s;
					@media #{$md,$sm,$xs} {
						inset-inline-start: 15px;
					}
					@media #{$sm,$xs} {
						opacity: 1;
						bottom: 15px;
					}
				}
			}
			&.active {
				width: 1040px;
				.project {
					&-content {
						opacity: 1;
						bottom: 30px;
						transition-delay: 0;
						@media #{$md,$sm,$xs} {
							bottom: 15px;
						}
					}
				}
			}
			&:hover {
				.project {
					&-img img {
						transform: none;
					}
				}
			}
		}
	}
}
.project-more {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	@media #{$md,$sm,$xs} {
		margin-top: 30px;
	}
}
/* !END: Project CSS */
