@use "../utilities" as *;

/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/

.testimonial-wrapper-6 {
	max-width: 100%;
	margin-inline-start: 0;
	flex-direction: row;
	flex-wrap: wrap;
	@media #{$lg} {
		gap: 15px;
	}
	.testimonial_header {
		margin-bottom: 22px;
		@media #{$sm,$xs} {
			margin-bottom: 18px;
		}
	}
	.testimonial_item_3 {
		width: calc(50% - 15px);
		padding-top: 36px;
		padding-bottom: 40px;
		@media #{$lg} {
			width: calc(50% - 7.5px);
		}

		@media #{$sm,$xs} {
			width: 100%;
		}
		@media #{$sm,$xs} {
			padding-top: 32px;
			padding-bottom: 35px;
		}
	}
}

/* !END: Testimonial CSS */
