@use "../utilities" as *;

/**----------------------------------------
START: Client CSS
----------------------------------------*/
.h9-client {
  &-section {
    background-color: var(--tj-color-theme-bg);
    border-radius: 16px;
    z-index: 2;
    @media #{$md, $sm, $xs} {
      border-radius: 12px;
    }
    .bg-img {
      opacity: 1;
      mix-blend-mode: normal;
    }
    .sec-heading {
      margin-bottom: 100px;
    }
    .sub-title {
      margin-bottom: 16px;
    }
    .sec-title {
      font-size: 74px;
      line-height: 1.05;
    }
    .section-right-content {
      max-width: 513px;
      margin-left: auto;
      p {
        margin-bottom: 20px;
      }
    }
  }
  &-wrap {
    margin-top: 60px;
    @media #{$lg} {
      margin-top: 50px;
    }
    @media #{$md, $sm, $xs} {
      margin-top: 40px;
    }
  }
  &-item {
    width: 100%;
    padding: 0;
    .client-logo {
      width: 100%;
      height: 157px;
      border: 0;
      background-color: var(--tj-color-grey-4);
    }
  }
}

/* !END: Client CSS */
