@use "../utilities" as *;

/**----------------------------------------
START: Home 9 counter CSS
----------------------------------------*/
.h9-counter {
  &-section {
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      bottom: -435px;
      left: 50%;
      transform: translateX(-50%);
      width: 580px;
      height: 580px;
      border-radius: 50%;
      background-color: var(--tj-color-theme-primary);
      opacity: 0.5;
      filter: blur(200px);
      z-index: -1;
    }
    .counter-shape,
    .counter-image {
      position: absolute;
      top: 5px;
      left: 0;
    }
    .counter-image {
      right: 0;
      left: auto;
    }
    .counter-shape {
      top: 15px;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
  }
  &-item {
    min-height: 237px;
    border-inline-start: 1px solid var(--tj-color-theme-primary);
    padding-inline-start: 20px;
    display: flex;
    align-items: end;
    .inline-content {
      font-size: 68px;
      .text {
        margin-inline-start: 8px;
      }
    }
    .count-text {
      font-size: 16px;
      font-weight: var(--tj-fw-normal);
      max-width: 345px;
    }
  }
}
/* !END: Home 9 counter CSS */
