@use "../utilities" as *;

/**----------------------------------------
START: insights CSS
----------------------------------------*/
.insights {
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	&-box {
		padding: 40px 30px 0;
		background-color: var(--tj-color-theme-bg);
		border: 1px solid var(--tj-color-border-1);
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			margin-bottom: 16px;
		}
		.desc {
			margin-bottom: 54px;
		}
		&:nth-child(1),
		&:nth-child(4) {
			width: calc(67% - 15px);
		}
		&:nth-child(2),
		&:nth-child(3) {
			width: calc(33% - 15px);
		}
	}

	&-img {
		mask-image: linear-gradient(0deg, rgba(25, 26, 24, 0) 0%, #191a18 25%);
		img {
			width: 100%;
		}
	}
	@media #{$md} {
		&-wrapper {
			gap: 20px;
		}
		&-box {
			padding: 30px 30px 0;
			.desc {
				margin-bottom: 40px;
			}
			&:nth-child(1),
			&:nth-child(4) {
				width: calc(55% - 10px);
			}
			&:nth-child(2),
			&:nth-child(3) {
				width: calc(45% - 10px);
			}
		}
	}
	@media #{$sm,$xs} {
		&-box {
			padding: 35px 24px 0;
			.desc {
				margin-bottom: 40px;
			}
			&:nth-child(1),
			&:nth-child(4) {
				width: 100%;
			}
			&:nth-child(2),
			&:nth-child(3) {
				width: 100%;
			}
		}
	}
}

/* !END: insights CSS */
