@use "../utilities" as *;

/**----------------------------------------
START: About CSS
----------------------------------------*/
.tj-secure-section {
	padding-left: 30px;
	padding-right: 30px;
	@media #{$xxl, $xl, $lg, $md, $sm, $xs} {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.secure-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 140px;
	&:nth-child(even) {
		flex-direction: row-reverse;
		@media #{$md, $sm, $xs} {
			flex-direction: column-reverse;
		}
	}
	&:not(:last-child) {
		margin-bottom: 140px;
		@media #{$xl} {
			margin-bottom: 100px;
		}
		@media #{$lg} {
			margin-bottom: 70px;
		}
		@media #{$md, $sm, $xs} {
			margin-bottom: 40px;
		}
	}

	@media #{$xl} {
		gap: 100px;
	}
	@media #{$lg} {
		gap: 70px;
	}
	@media #{$md, $sm, $xs} {
		flex-direction: column-reverse;
		gap: 40px;
	}
}
.secure-img {
	&-wrap {
		max-width: calc(50% - 15px);
		width: 100%;
		min-height: 724px;
		display: flex;
		flex: 1;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 12px;
		padding: 30px 60px;

		@media #{$xl, $lg} {
			min-height: 495px;
		}
		@media #{$md, $sm, $xs} {
			min-height: auto;
			max-width: 100%;
			flex: auto;
		}
	}
	max-width: 600px;
	width: 100%;
	margin: auto;
	@media #{$md, $sm, $xs} {
		max-width: 540px;
	}
	.img-reveal-2 {
		overflow: visible;
	}
}

.secure-content {
	max-width: 525px;
	width: 100%;
	flex: 1;
	@media #{$md, $sm, $xs} {
		max-width: 100%;
		flex: auto;
	}
	.sec-heading {
		margin-bottom: 18px;
		.sec-title {
			@media #{$xl} {
				font-size: 44px;
			}
			@media #{$lg} {
				font-size: 40px;
			}
		}
	}
	.desc {
		max-width: 500px;
		margin-bottom: 22px;
	}

	.about-funfact {
		gap: 60px;
		.countup-item {
			max-width: 175px;
			width: 100%;
			&:not(:last-child) {
				&::after {
					border-right: 1px dashed var(--tj-color-border-1);
					inset-inline-end: -30px;
					top: 5px;
					height: calc(100% - 8px);
				}
			}
		}
		.inline-content {
			font-size: 48px;
			margin-bottom: 10px;
		}
		.count-text {
			font-size: 18px;
			line-height: 1.3;
			color: var(--tj-color-text-body);
		}
	}
}

/* !END: About CSS */
